<div class="container">
  <ul class="socials">
    <li class="social-link">
      <a href="https://www.linkedin.com/in/andresaromero" target="_blank" aria-label="Linkedin Link">
        <i class="fab fa-linkedin"></i>
      </a>
    </li>
    <li class="social-link">
      <a href="https://github.com/AndresRomero90" target="_blank" aria-label="Github Link">
        <i class="fab fa-github-square"></i>
      </a>
    </li>
    <li class="social-link">
      <a href="https://discordapp.com/users/310597995131568130" target="_blank" aria-label="Discord Link">
        <i class="fab fa-discord"></i>
      </a>
    </li>
  </ul>
</div>