.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;

  .socials {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: 2rem;
    @media screen and (max-width: 640px) {
      gap: 4rem;
    }

    .social-link {
      a {
        font-size: 1.6rem;
        color: var(--clr-primary-gray);
        @media screen and (max-width: 640px) {
          font-size: 3rem;
        }

        &:hover {
          color: var(--clr-primary-red);
        }
      }
    }
  }
}
